.courses {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses-container {
        grid-template-columns: repeat(1, 1fr);
    }
}