.course-detail-container {
    width: 800px;
    margin: 0 auto;
}

.course-img {
    width: 300px !important;
    height: 300px;
    margin: 10px auto;
}

.course-name {
    margin-left: 365px;
}

.course-description {
    text-align: justify;
}

.download-icon {
    font-size: 30px;
    cursor: pointer;
}