.course-detail-container {
    /* width: 800px; */
    margin: 0 auto;
}

.course-img {
    width: 300px !important;
    height: 300px;
    margin: 10px auto;
}

.course-description {
    text-align: justify;
}

.download-icon {
    font-size: 30px;
    cursor: pointer;
}

.checkout-link {
    color: white;
    text-decoration: none;
}

.checkout-link:hover {
    color: black;
}